<div fxLayout="row wrap">
    <div *ngFor="let kid of children$ | async">
        <mat-card>
            <mat-card-title>{{kid.lastName}}</mat-card-title>
            <mat-card-subtitle>{{kid.firstName}}</mat-card-subtitle>
            <mat-card-content>
                <div><b>DOB:</b> {{kid.dob | date:'yyyy-MM-dd'}}</div>
                <div><b>Age:</b> {{getAge(kid)}}</div>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button (click)="clickRemove(kid)" color="warn">Remove Child</button>
                <button mat-button (click)="clickEdit(kid)">Edit Child</button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>
<button mat-button routerLink='/add-child'>Add Child</button>