<div fxLayout="row wrap">
    <div *ngFor="let kid of children$ | async">
        <mat-card>
            <mat-card-title>{{kid.lastName}}</mat-card-title>
            <mat-card-subtitle>{{kid.firstName}}</mat-card-subtitle>
            <mat-card-content>
                <div><b>DOB:</b> {{kid.dob | date:'yyyy-MM-dd'}}</div>
                <div><b>Age:</b> {{getAge(kid)}}</div>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button (click)="clickRemove(kid)" color="warn">Remove Child</button>
                <a mat-button routerLink="/edit-child/{{kid.id}}">Edit Child</a>
            </mat-card-actions>
        </mat-card>
    </div>
</div>
<a mat-fab routerLink='/add-child' class="add-button">
    <mat-icon>add</mat-icon>
</a>